{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://media.giphy.com/media/SVeX8UVj11rveaYjzf/giphy.gif" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Want to Productively Procrastinate?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Have a million things to do and no motivation? Really, really hate your homework but want to at least get something done? Looking for a way to pass the time? This quiz is for you. Click the button and andswer a series of questions to figure out the best way to productively procrastinate!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Take Quiz!</button>
      </div>
    </div>
  </div>
{% endblock %}
