{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<title>Productive Procrastination</title>
<script>
    document.getElementByID("submit").addEventListener("click", function(event) {
        // Is this where we compile the counter results?
        // Here's what I'm thinking:
        // 1. Compile counter results
        // 2. Sort counters, simple bubble sort, just put max at end of an array of counters
        // 3. Series of if/elif/else statements that will decide which results page to go to
    }
</script>
<body>
    <div class="container">
        <div class="section">
            <h2>What time is it?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">7:00 am - 11:59 pm</button>
            <button class="btn btn-primary" name="btn2" type="button">12:00 am - 2:44 am</button>
            <button class="btn btn-primary" name="btn3" type="button">2:45 am - 6:59 am</button>
            </div>
        </div>

        <div class="section">
            <h2>How stressed are you about your other lingering assingments?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">1: Not at All</button>
            <button class="btn btn-primary" name="btn2" type="button">2: Not Very</button>
            <button class="btn btn-primary" name="btn3" type="button">3: Kinda</button>
            <button class="btn btn-primary" name="btn2" type="button">4: Pretty Stressed</button>
            <button class="btn btn-primary" name="btn3" type="button">5: Very Stressed</button>
            <button class="btn btn-primary" name="btn2" type="button">6: I'm at my Breaking Point.</button>
            </div>
        </div>

        <div class="section">
            <h2>How soon does this work need to get done?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">In the next few minutes</button>
            <button class="btn btn-primary" name="btn2" type="button">In the next few hours</button>
            <button class="btn btn-primary" name="btn3" type="button">By tomorrow</button>
            <button class="btn btn-primary" name="btn1" type="button">In the next few days</button>
            </div>
        </div>

        <div class="section">
            <h2>How burnt out do you feel?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">1: I can barely think.</button>
            <button class="btn btn-primary" name="btn2" type="button">2: Pretty burnt out</button>
            <button class="btn btn-primary" name="btn3" type="button">3: A little burnt out</button>
            <button class="btn btn-primary" name="btn1" type="button">4: I feel fine.</button>
            <button class="btn btn-primary" name="btn1" type="button">5: I've never felt better.</button>
            </div>
        </div>

        <div class="section">
            <h2>If you had to describe your brain using one of these words, which would you choose?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">Overstuffed</button>
            <button class="btn btn-primary" name="btn2" type="button">Creative</button>
            <button class="btn btn-primary" name="btn3" type="button">Neutral</button>
            <button class="btn btn-primary" name="btn1" type="button">Exhausted</button>
            <button class="btn btn-primary" name="btn1" type="button">Productive</button>
            </div>
        </div>

        <div class="section">
            <h2>When was the last time you ate?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">I haven't eaten today.</button>
            <button class="btn btn-primary" name="btn2" type="button">I skipped a meal.</button>
            <button class="btn btn-primary" name="btn3" type="button">It's been a few hours.</button>
            <button class="btn btn-primary" name="btn1" type="button">I've eaten within the past hour.</button>
            <button class="btn btn-primary" name="btn1" type="button">I'm eating right now.</button>
            </div>
        </div>

        <div class="section">
            <h2>When was the last time you moved around?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">I haven't moved today.</button>
            <button class="btn btn-primary" name="btn2" type="button">It's been a few hours.</button>
            <button class="btn btn-primary" name="btn3" type="button">I moved around about an hour ago.</button>
            <button class="btn btn-primary" name="btn1" type="button">I just moved around recently.</button>
            </div>
        </div>

        <div class="section">
            <h2>What does the space around you look like?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">Messy</button>
            <button class="btn btn-primary" name="btn2" type="button">Tidy</button>
            <button class="btn btn-primary" name="btn3" type="button">Empty</button>
            <button class="btn btn-primary" name="btn1" type="button">Distracting</button>
            <button class="btn btn-primary" name="btn1" type="button">Crowded</button>
            </div>
        </div>

        <div class="section">
            <h2>When was the last time you made something for yourself?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1" type="button">I'm doodling right now.</button>
            <button class="btn btn-primary" name="btn2" type="button">Today was a crafting day.</button>
            <button class="btn btn-primary" name="btn3" type="button">It's been awhile...</button>
            <button class="btn btn-primary" name="btn1" type="button">Not since I was a wee lad.</button>
            </div>
        </div>

        <button type="button" id="submit" class="btn btn-outline-success">Submit</button>

    </div>
</body>


{% endblock %}