<!-- {% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<title>Productive Procrastination</title>
<script>
    
    document.getElementByID("submit").addEventListener("click", function(event) {
        // Is this where we compile the counter results?
        // Here's what I'm thinking:
        // 1. Compile counter results
        // 2. Sort counters, simple bubble sort, just put max at end of an array of counters
        // 3. Series of if/elif/else statements that will decide which results page to go to

        // Results from question 1
        document.getElementById("btn1.1").addEventListener("click", function(event) {
                    productive += 1
                    clickone == true
                })

        document.getElementById("btn1.2").addEventListener("click", function(event) {
            sleep += 5
            clickone == true
        })

        document.getElementById("btn1.3").addEventListener("click", function(event) {
                    sleep += 100
                    clickone == true
                })
    }
   
</script>
<body>
    <div class="container">
        <div class="section">
            <h2>What time is it?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn1.1" type="button">6:00 am - 5:59 pm</button>
            <button class="btn btn-primary" name="btn1.2" type="button">6:00 pm - 10:59 pm</button>
            <button class="btn btn-primary" name="btn1.3" type="button">11:00 am - 12:59 am</button>
            <button class="btn btn-primary" name="btn1.4" type="button">1:00 am - 3:59 am</button>
            <button class="btn btn-primary" name="btn1.5" type="button">4:00 am - 5:59 am</button>
            </div>
        </div>

        <div class="section">
            <h2>How stressed are you about your other lingering assingments?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn2.1" type="button">1: Not at All</button>
            <button class="btn btn-primary" name="btn2.2" type="button">2: Not Very</button>
            <button class="btn btn-primary" name="btn2.3" type="button">3: Kinda</button>
            <button class="btn btn-primary" name="btn2.4" type="button">4: Pretty Stressed</button>
            <button class="btn btn-primary" name="btn2.5" type="button">5: I'm at my Breaking Point</button>
            </div>
        </div>

        <div class="section">
            <h2>How soon does this work need to get done?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn3.1" type="button">In the next few weeks</button>
            <button class="btn btn-primary" name="btn3.2" type="button">In the next few days</button>
            <button class="btn btn-primary" name="btn3.3" type="button">By tomorrow</button>
            <button class="btn btn-primary" name="btn3.4" type="button">In the next few hours</button>
            <button class="btn btn-primary" name="btn3.4" type="button">In the next few minutes</button>
            </div>
        </div>

        <div class="section">
            <h2>How burnt out do you feel?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn4.1" type="button">1: I can barely think.</button>
            <button class="btn btn-primary" name="btn4.2" type="button">2: Pretty burnt out</button>
            <button class="btn btn-primary" name="btn4.3" type="button">3: A little burnt out</button>
            <button class="btn btn-primary" name="btn4.4" type="button">4: I feel fine.</button>
            <button class="btn btn-primary" name="btn4.5" type="button">5: I've never felt better.</button>
            </div>
        </div>

        <div class="section">
            <h2>If you had to describe your brain using one of these words, which would you choose?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn5.1" type="button">Overstuffed</button>
            <button class="btn btn-primary" name="btn5.2" type="button">Creative</button>
            <button class="btn btn-primary" name="btn5.3" type="button">Neutral</button>
            <button class="btn btn-primary" name="btn5.4" type="button">Exhausted</button>
            <button class="btn btn-primary" name="btn5.5" type="button">Productive</button>
            </div>
        </div>

        <div class="section">
            <h2>When was the last time you ate?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn6.1" type="button">I haven't eaten today.</button>
            <button class="btn btn-primary" name="btn6.2" type="button">I skipped a meal.</button>
            <button class="btn btn-primary" name="btn6.3" type="button">It's been a few hours.</button>
            <button class="btn btn-primary" name="btn6.4" type="button">I've eaten within the past hour.</button>
            <button class="btn btn-primary" name="btn6.5" type="button">I'm eating right now.</button>
            </div>
        </div>

        <div class="section">
            <h2>When was the last time you moved around?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn7.1" type="button">I haven't moved today.</button>
            <button class="btn btn-primary" name="btn7.2" type="button">It's been a few hours.</button>
            <button class="btn btn-primary" name="btn7.3" type="button">I moved around about an hour ago.</button>
            <button class="btn btn-primary" name="btn7.4" type="button">I just moved around recently.</button>
            </div>
        </div>

        <div class="section">
            <h2>What does the space around you look like?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn8.1" type="button">Messy</button>
            <button class="btn btn-primary" name="btn8.2" type="button">Tidy</button>
            <button class="btn btn-primary" name="btn8.3" type="button">Empty</button>
            <button class="btn btn-primary" name="btn8.4" type="button">Distracting</button>
            <button class="btn btn-primary" name="btn8.5" type="button">Crowded</button>
            </div>
        </div>

        <div class="section">
            <h2>When was the last time you made something for yourself?</h2>
            <div class="d-grid gap-2">
            <button class="btn btn-primary" name="btn9.1" type="button">I'm doodling right now.</button>
            <button class="btn btn-primary" name="btn9.2" type="button">Today was a crafting day.</button>
            <button class="btn btn-primary" name="btn9.3" type="button">It's been awhile...</button>
            <button class="btn btn-primary" name="btn9.4" type="button">Not since I was a wee lad.</button>
            </div>
        </div>

        <button type="button" id="submit" class="btn btn-outline-success">Submit</button>
        <script type="text/javascript" src="js/quizppage.js"></script>
    </div>
</body>



{% endblock %} -->

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Personality Test</title>
        <!-- ANIMATE CSS -->
        <!--<link rel="stylesheet" type="text/css" href="css/animate.css"> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
        <!-- GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <!-- BODY -->
    <body>
    
        <div class="container text-center">
            <h1>Productivity Quiz</h1>
        </div>
        <div class="container text-center">
            <ul id="quiz" class="list-group">
               <script>document.getElementById("prompts").innerHTML</script>
            </ul>
        </div>
    
        <!-- <div class="container progress">
            <div id="intro-bar" class="progress-bar" style="width: 15%" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                15%
            </div>
            <div id="extro-bar" class="progress-bar bg-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                30%
            </div>
        </div> -->
    
        <div class="container text-center results hide">
            <p id="results"></p>
        </div>
    
        <div class="container text-center bottom">
            <button id="submit-btn" class="btn btn-primary btn-lg">Submit</button>
    
            <button id="retake-btn" class="hide btn btn-primary btn-lg">Retake Quiz</button>
        </div>
        <!-- SCRIPTS -->
    
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- CUSTOM -->
        <script type="text/javascript" src="quizpage.js"></script>
    </body>
    </html>